<div class="toolPanel-icon">
    <button id="btnToolbarAdd" type="button" class="btn btn bg-teal" data-popup="tooltip" data-container="body" data-original-title="Add New Record ( Alt+A )">
        <i class="icon-plus2"></i>
        @ResourceSettings.getResourceLable("Common", "ButtonCaption", "ADD", "ADD")
    </button>

    <button id="btnToolbarEdit" type="button" class="btn btn bg-primary" data-popup="tooltip" data-container="body" data-original-title="Edit Record ( Alt+E )">
        <i class="icon-pencil"></i>
        @ResourceSettings.getResourceLable("Common", "ButtonCaption", "EDIT", "EDIT")
    </button>

    <button id="btnToolbarDelete" type="button" class="btn btn bg-danger" data-popup="tooltip" data-container="body" data-original-title="Remove Record ( Alt+D )">
        <i class="icon-cross2"></i>
        @ResourceSettings.getResourceLable("Common", "ButtonCaption", "DELETE", "DELETE")
    </button>

    <button id="btnToolbarPrint" type="button" class="btn btn bg-purple" data-popup="tooltip" data-container="body" data-original-title="PRINT ( Alt+P )">
        <i class="icon-printer2"></i>
        @ResourceSettings.getResourceLable("Common", "ButtonCaption", "PRINT", "PRINT")
    </button>

    <button id="btnToolbarEmail" type="button" class="btn btn bg-slate">
        <i class="icon-mail5"></i>
        @ResourceSettings.getResourceLable("Common", "ButtonCaption", "EMAIL", "EMAIL")
    </button>

    <button id="btnToolbarSearch" type="button" class="btn btn bg-info">
        <i class="icon-search4"></i>
        @ResourceSettings.getResourceLable("Common", "ButtonCaption", "SEARCH", "SEARCH")
    </button>

    <button id="btnToolbarPrev" type="button" class="btn btn bg-green" data-popup="tooltip" data-container="body" data-original-title="PREVIOUS ( Alt+V )">
        <i class="icon-arrow-left12"></i>
        @ResourceSettings.getResourceLable("Common", "ButtonCaption", "PREVIOUS", "PREVIOUS")
    </button>

    <button id="btnToolbarNext" type="button" class="btn btn bg-green" data-popup="tooltip" data-container="body" data-original-title="NEXT ( Alt+N )">
        @ResourceSettings.getResourceLable("Common", "ButtonCaption", "NEXT", "NEXT")
        <i class="icon-arrow-right13"></i>
    </button>

    <button id="btnToolbarSave" type="button" class="btn btn bg-teal" data-popup="tooltip" data-container="body" data-original-title="SAVE ( Alt+S )">
        <i class="fa fa-fw fa-save"></i>
        @ResourceSettings.getResourceLable("Common", "ButtonCaption", "SAVE", "SAVE")
    </button>

    <button id="btnToolbarCancel" type="button" class="btn btn-default" data-popup="tooltip" data-container="body" data-original-title="CANCEL ( Alt+C )">
        <i class="icon-folder-remove"></i>
        @ResourceSettings.getResourceLable("Common", "ButtonCaption", "CANCEL", "CANCEL")
    </button>
</div>