@using Westwind.Globalization
@using System.Threading
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SAARTHI-REGISTRATION</title>
    <link rel="QC icon" href="~/assets/images/QC.ico" />
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">

    <link href="~/css/icomoon-style.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/css/colors.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/main_color_style.css" rel="stylesheet" />
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/assets/js/plugins/loaders/pace.min.js"></script>

    <script type="text/javascript" src="~/Scripts/jQuery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.10.1.custom.min.js"></script>
    <script type="text/javascript" src="~/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="~/assets/js/core/app.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/notifications/sweet_alert.min.js"></script>
    <script src="~/assets/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/OperationJS/Common.js"></script>
    <script src="~/Scripts/OperationJS/FormOperations.js"></script>
    <style type="text/css">
        .login-form {
            width: 90% !important;
            padding: 10px !important;
        }

            .login-form h5 {
                font-size: 24px !important;
            }

            .login-form .login-form-inner {
                width: 100% !important;
            }

        .sweet-alert h2 {
            color: red;
        }

        .login-form .login-form-inner input {
            height: 30px !important;
        }

        .login-form input {
            background: #fff !important;
            padding-right: 12px;
            padding-left: 10px !important;
        }

        .form-control {
            height: 30px !important;
            padding: 2px 5px !important;
            font-size: 12px;
            line-height: 1.5384616;
            color: #333333;
            border: 1px solid slategray;
        }

            .form-control:focus {
                border: 1px double blue !important;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
            }

        .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
            position: relative;
            min-height: 1px;
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        .text-size-large {
            font-size: 12px !important;
        }

        .select2-selection--single {
            height: 30px !important;
            padding: 4px 0 !important;
        }

        input[type="radio"], input[type="checkbox"] {
            margin: 0px 0 0 !important; 
            margin-top: 0px !important;
            line-height: normal;
        }

        .checkbox-inline {
            padding-top: 0px !important;
        }

        .radio-inline, .checkbox-inline {
            position: relative;
            padding-left: 20px !important;
        }       
    </style>

</head>
<body class="login-container bg-slate-800">
    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Content area -->
                <div class="content">
                    <!-- Advanced login -->
                        <div class="panel panel-body login-form">
                            <div class="login-form-inner">
                                <div class="form-group login-options">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <h5 class="content-group-lg">@DbRes.T("Registration For", "Registration_Form")</h5>
                                        </div>
                                        <div class="col-sm-5 text-left">
                                            <button id="btnAPMC" class="btn"><i class="icon-city"></i> @DbRes.T("APMC", "Registration_Form")</button>
                                            <button id="btnVendor" class="btn"><i class="icon-user-tie"></i> @DbRes.T("VENDOR", "Registration_Form")</button>
                                            <button id="btnFarmer" class="btn"><i class="icon-user"></i> @DbRes.T("FARMER", "Registration_Form")</button>
                                        </div>
                                        <div class="col-sm-2 text-right">
                                            <button class="btn" id="btnEN" type="button">EN</button>
                                            <button class="btn" id="btnGU" type="button">GU</button>
                                            <button class="btn" id="btnHome"style="background-color:darkslategray;color:white"><i class="icon-home"></i></button>
                                        </div>
                                    </div>
                                </div>

                                <div id="div_APMC" style="display:none">
                                    @Html.Partial("_APMC")
                                </div>
                                <div id="div_Vendor" style="display:none">
                                    @Html.Partial("_Vendor")
                                </div>
                                <div id="div_Farmer" style="display:none">
                                    @Html.Partial("_Farmer")
                                </div>
                            </div>
                        </div>
                    <!-- /advanced login -->
                </div>
                <!-- /content area -->
            </div>
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>
    <!-- /page container -->
   
    <script type="text/javascript">
        var Vdir = '@System.Web.Configuration.WebConfigurationManager.AppSettings["VirtualDirectoryName"]';
        var AppCulture = '@AppSession.AppCulture';
        var ShownTab = '@ViewBag.ShownTab';

        $(document).ready(function () {
            HighlightActiveButtons();
        });

        function HighlightActiveButtons() {
            if (AppCulture == 'gu-IN') {
                $("#btnEN").removeAttr("style");
                $("#btnGU").css({ "background-color": "orangered", "color": "white", "font-weight": "600" });
            } else {
                $("#btnGU").removeAttr("style");
                $("#btnEN").css({ "background-color": "orangered", "color": "white", "font-weight": "600" });
            }

            if (ShownTab == 'APMC') {
                $("#btnVendor").removeAttr("style");
                $("#btnFarmer").removeAttr("style");
                $("#btnAPMC").css({ "background-color": "orangered", "color": "white", "font-weight": "600" });

                $("#div_APMC").show();
                $("#div_Vendor").hide();
                $("#div_Farmer").hide();
            }
            else if (ShownTab == 'Vendor') {
                $("#btnAPMC").removeAttr("style");
                $("#btnFarmer").removeAttr("style");
                $("#btnVendor").css({ "background-color": "orangered", "color": "white", "font-weight": "600" });

                $("#div_Vendor").show();
                $("#div_APMC").hide();
                $("#div_Farmer").hide();
            }
            else {
                $("#btnAPMC").removeAttr("style");
                $("#btnVendor").removeAttr("style");
                $("#btnFarmer").css({ "background-color": "orangered", "color": "white", "font-weight": "600" });

                $("#div_Farmer").show();
                $("#div_Vendor").hide();
                $("#div_APMC").hide();
            }
        }

        function ITX3ResolveUrl(pUrl) {
            if (pUrl) {
                if (pUrl.substr(0, 2) == '~/')
                    pUrl = pUrl.substr(2, pUrl.length - 2);
            }
            var newUrl = '';
            if (typeof HasPath != 'undefined' && HasPath) {
                var pathArray = window.location.pathname.split('/');
                newUrl = location.protocol + '//' + location.host + '/' + pathArray[1] + ((pUrl) ? '/' + pUrl : '/');
            }
            else {
                newUrl = location.protocol + '//' + location.host + '/' + Vdir + ((pUrl) ? pUrl : '/');
            }
            return newUrl;
        }

         $('#btnEN').click(function () {
             ChangeLanguage('en-US');
         });

         $('#btnGU').click(function () {
           ChangeLanguage('gu-IN');
         });

        function ChangeLanguage(cul) {
            $.ajax({
                cache: false,
                type: "POST",
                async: false,
                url: ITX3ResolveUrl('Login/ChangeLanguage'),
                data: "{cul:'" + cul + "'}",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var url = ITX3ResolveUrl('~/Users/Index?ShownTab='+ShownTab+'');
                    location.href = url;
                },
                error: function (xhr, ret, e) {
                }
            });
        }

        $('#btnAPMC').click(function () {
             if (ShownTab != 'APMC') {
                var url = ITX3ResolveUrl('~/Users/Index?ShownTab=APMC');
                location.href = url;
             }
         });

        $('#btnVendor').click(function () {
             if (ShownTab != 'Vendor') {
                var url = ITX3ResolveUrl('~/Users/Index?ShownTab=Vendor');
                location.href = url;
             }
         });

        $('#btnFarmer').click(function () {
            if (ShownTab != 'Farmer') {
                var url = ITX3ResolveUrl('~/Users/Index?ShownTab=Farmer');
                location.href = url;
            }
        });

        $('#btnHome').click(function () {
            var url = ITX3ResolveUrl('~/Login/Login');
            location.href = url;
        });

        $('#btnAPMCCancel').click(function () {
            var url = ITX3ResolveUrl('~/Login/Login');
            location.href = url;
        });

    </script>
</body>

</html>




